<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        #preview {
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
    <h1 align="center">파일을 설명과 함께 업로드하기</h1>

    <h3>1. single file upload</h3>
    <form action="single-file" method="post" enctype="multipart/form-data"> <!--인코딩 타입을 지정해야한다!-->
        파일: <input type="file" name = "singleFile"><br>
        파일 설명: <input type="text" name="singleFileDescription"><br>
        <input type="submit" value="Upload file" accept="image/png, image/jpeg">
        <img id="preview" />
    </form>

    <h3>2. multi file upload</h3>
    <form action="multi-file" method="post" enctype="multipart/form-data"> <!--인코딩 타입을 지정해야한다!-->
        파일: <input type="file" name = "multiFiles" multiple ><br>
        파일 설명: <input type="text" name="multiFileDescription"><br>
        <input type="submit" value="Upload file">
        <div id="multi-preview"></div>
    </form>

    <script>
        const imageInput = document.getElementsByName("singleFile");
        const preview = document.getElementById('preview');

        console.log(imageInput);
        imageInput[0].addEventListener('change', function() {
            const file = this.files[0];
            console.log(file);
            if (file) {
                const reader = new FileReader();

                reader.onload = function(event) {
                    const imageUrl = event.target.result;
                    // preview.innerHTML = `<img width="400" height="400" src="${imageUrl}" alt="Image Preview">`;
                    console.log(preview);
                    preview.setAttribute("src", imageUrl);
                }

                reader.readAsDataURL(file);
            } else {
                preview.innerHTML = '';
            }
        });
    </script>

    <script>
        const imageInput = document.getElementsByName("singleFile");
        const preview = document.getElementById('preview');

        console.log(imageInput);
        for (let i = 0; i < imageInput.length; i++) {
            imageInput[i].addEventListener('change', function() {
                const file = this.files[0];
                console.log(file);
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(event) {
                        const imageUrl = event.target.result;
                        preview.innerHTML = `<img width="400" height="400" src="${imageUrl}" alt="Image Preview">`;
                        console.log(preview);
                        // preview.setAttribute("src", imageUrl);
                    }

                    reader.readAsDataURL(file);
                } else {
                    preview.innerHTML = '';
                }
            });
        }

    </script>
</body>
</html>